$theme_color: #21c87a  !default;

/* ================= Main Colors =========================*/
$o-theme-color-palettes: (
    (
        'alpha': $theme_color,
        'beta': #343a40,
        'gamma': #4c9cba,
        'delta': #000000,
        'epsilon': $theme_color,
    ),
);
/* ==================== Text Colors =========================*/
$o-color-palettes: (
    (
        'o-color-1': $theme_color,
        'o-color-2': #343a40,
        'o-color-3': #4c9cba,
        'o-color-4': #eeeeee,
        'o-color-5': #eeeeee,
		'body': null, // Default to bootstrap
	    'menu': null,
	    'footer': #1e1e1e,
	    'text': #6c757d,
	    'h1':  #212529,
	    'h2':  #212529,
	    'h3':  #212529,
	    'h4':  #212529,
	    'h5':  #212529,
	    'h6':  #212529,
    ),
);
/* ===================== State Colors ========================*/
$success:       #00b115 !default;
$info:          #ffaa50 !default;
$warning:       #ff5050 !default;
$danger:        #900000 !default;
