@font-face {
    font-family:"lato";
    src: url("/theme_loengo/static/fonts/Lato-Light.ttf");
}
@font-face {
    font-family:"Sansation_Light";
    src: url("/theme_loengo/static/fonts/Sansation_Light.ttf");
}
$font_main: "Sansation_Light";
$color-blue: #003049;

footer > div.theme_blue,
header > div.theme_blue {
        background-color: $color-blue !important;
}

nav .theme_blue {
     background-color: transparent !important;
     div section div a {
         background: $color-blue !important;
         border: 1px solid $color-blue !important;
     }
     div#top_menu_collapse {
                ul#top_menu{
                    li > a {
                        color: $color-blue !important;
                        text-transform: capitalize;
                        font-size: 15px;
                        font-family: $font_main;
                        &:hover {
                            border-bottom: 5px solid $color-blue !important;
                            border-bottom-right-radius: 5px;
                            border-bottom-left-radius: 5px;
                            padding-bottom: 1px;
                        }
                    }
                    li > a.active {
                        border-bottom: 5px solid $color-blue !important;
                        border-bottom-right-radius: 5px;
                        border-bottom-left-radius: 5px;
                        padding-bottom: 1px;
                    }
                    div.dropdown-menu {
                            a {
                                 color: $color-blue !important;
                                text-transform: capitalize;
                                font-size: 15px;
                                font-family: $font_main;
                            }
                        }
                }
     }
}

main {
    div.theme_blue {
       a.btn-primary{
          background: $color-blue !important;
          border: 1px solid $color-blue !important;
       }
    }
}