
.o_web_client {
    > .o_action_manager {
        margin-left: 221px;
    }
}

body {
    &.no-sub-menu {
        .o_web_client > .o_action_manager {
            margin-left: 0px !important;
        }
    }
}



@include media-breakpoint-down(sm) {
    .o_web_client {
        > .o_action_manager {
            margin-left: 0px;
            margin-top: 0px;

            .o_search_panel {
                display: none !important;
            }
        }
    }
}